* {
    box-sizing: border-box;
}

.bg-roxo {
    background-color: #F28D9F;
}

.autora {
    font-family: "Dancing Script", cursive;
    font-size: 2.8rem;
    color: #F28D9F;
}

.minibio {
    margin: 10%;
}

.minibio__imagem {
    width: 450px;
    height: 450px;
}

hr{
    background-color: #5C257F;  
}

.depoimentos{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #D697FF;
    margin: 0 auto;
}

.tamanho-card {
    width: 10rem;
}

.imagem-cards {
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.container__doula {
    margin-top: 6%;
    margin-bottom: 6%;
}

.autora1{
    font-family: "Dancing Script", cursive;
    font-size: 2.8rem;
    color: #F28D9F;
    text-align: center;
}


.container__depoimentos {
    margin-top: 2%;
    margin-bottom: 2%;
}

footer{
    background-color: #AB2F52;
    margin-top: 15px;
    background-repeat: no-repeat;
    }

.icones{
    color: white;
}


@media (max-width: 400px) {
    .container__depoimentos {
        margin-bottom: 20px;
    }
    .container__doula {
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .minibio__imagem {
        width: 250px;
        height: 250px;
    }
}
