*{
    box-sizing: border-box;
}
.bg-roxo{
    background-color: #997E7A;
}

.primeiraimagem{
    margin-left: 20%;
}

.imagem-carousel {
    object-fit: cover;
    object-position: 0 10%;
    height: 65vh;
}

.informacoes{
    width: 100vh;
    height: 100vw;
}

.papeldoula{
    display: flex;
    justify-content: space-around;
}

.tamanho-card{
    width: 18rem;
}

.imagem-cards{
    object-fit: cover;
    object-position: top;
    height: 50vh;
}