*{
    box-sizing: border-box;
}
.bg-roxo{
    background-color: #BF7582;
}

.primeiraimagem{
    margin-left: 20%;
}

.imagem-carousel {
    object-fit: cover;
    object-position: 0 10%;
}

.informacoes{
    width: 100vh;
    height: 100vw;
}

.papeldoula{
    display: flex;
    justify-content: space-around;
}

.tamanho-card{
    width: 10rem;
}

.imagem-cards{
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.container__doula{
    margin-top: 6%;
    margin-bottom: 6%;
}

@media (max-width: 400px){
    .container__doula {
        margin-bottom: 20px;
    }
}